<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">

    <div class="az-content-left az-content-left-components">
      <div class="component-item">
        <label>Manage Employees</label>
        <nav class="nav flex-column">
          <a routerLink="/add-employee" routerLinkActive="active-link" class="nav-link">Add Employee</a>
          <a routerLink="/employees" routerLinkActive="active-link" class="nav-link">View All Employees</a>
        </nav>
      </div><!-- component-item -->
    </div><!-- az-content-left -->

    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Dashboard</span>
        <span>Employees</span>
        <span>Add</span>
      </div>
      <h4 class="az-content-label mg-b-5">Add Employee</h4>
      <br><br>
      <app-spinner *ngIf="isLoading"></app-spinner>
      <!-- Include the Alert Component -->
      <app-alert [message]="alertMessage" [type]="alertType"></app-alert>

      <div class="container-sm">
        <div class="col-md-8 offset-md-2 container-sm">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="row g-3 form-container container-sm">
            <!-- Existing Form Fields -->
            <div class="form-group col-md-6">
              <label><b>First Name</b></label>
              <input type="text" class="form-control" id="fname" [(ngModel)]="employee.firstname" name="firstname"
                     required minlength="3" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.errors }" />
              <div *ngIf="f.submitted && firstname.errors" class="invalid-feedback">
                <div *ngIf="firstname.errors['required']">First name is required</div>
                <div *ngIf="firstname.errors['minlength']">First Name minimum 3 characters are required!!!</div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label><b>Last Name</b></label>
              <input type="text" class="form-control" id="lname" [(ngModel)]="employee.lastname" required name="lastname"
                     #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.errors }">
              <div *ngIf="f.submitted && lastname.errors" class="invalid-feedback">
                <div *ngIf="lastname.errors['required']">Last name is required</div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label><b>Email Id</b></label>
              <input type="email" class="form-control" id="email" [(ngModel)]="employee.email" name="email" required
                     email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" />
              <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                <div *ngIf="email.errors['required']">Email is required</div>
                <div *ngIf="email.invalid">Invalid email format</div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label"><b>Department</b></label>
              <select id="department" class="form-select" [(ngModel)]="employee.department" name="department" required
                      #department="ngModel" [ngClass]="{ 'is-invalid': f.submitted && department.errors }">
                <option selected disabled value="">Choose...</option>
                <option>IT</option>
                <option>HR</option>
                <option>Finance</option>
                <option>Marketing</option>
              </select>
              <div *ngIf="f.submitted && department.errors" class="invalid-feedback">
                <div *ngIf="department.errors['required']">Department is required</div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label"><b>Designation</b></label>
              <select id="designation" class="form-select" [(ngModel)]="employee.designation" name="designation"
                      required #designation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && designation.errors }">
                <option selected disabled value="">Choose...</option>
                <option>Developer</option>
                <option>Manager</option>
                <option>Analyst</option>
                <option>Accountant</option>
                <option>System Analyst</option>
              </select>
              <div *ngIf="f.submitted && designation.errors" class="invalid-feedback">
                <div *ngIf="designation.errors['required']">Designation is required</div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label><b>Salary</b></label>
              <input type="text" class="form-control" id="salary" [(ngModel)]="employee.salary" name="salary" required
                     pattern="^[1-9]\d{2,}$" #salary="ngModel" [ngClass]="{ 'is-invalid': f.submitted && salary.errors }" />
              <div *ngIf="f.submitted && salary.errors" class="invalid-feedback">
                <div *ngIf="salary.errors['required']">Salary is required</div>
                <div *ngIf="salary.invalid">
                  Salary must be a number, more than 3 digits, and not starting with zero.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label><b>Joining Date</b></label>
              <input type="date" class="form-control" id="joiningDate" [(ngModel)]="employee.joiningDate"
                     name="joiningDate" required #joiningDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && joiningDate.errors }">
              <div *ngIf="f.submitted && joiningDate.errors" class="invalid-feedback">
                <div *ngIf="joiningDate.errors['required']">Joining Date is required</div>
              </div>
            </div>

            <!-- Divider and Login Credentials Heading -->
            <div class="form-group col-md-12">
              <hr />
              <h4>Login Credentials</h4>
            </div>

            <div class="form-group col-md-6">
              <label><b>Password</b></label>
              <input type="password" class="form-control" id="password" [(ngModel)]="employee.password" name="password"
                     required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
              <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">Password minimum 6 characters are required</div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label><b>Confirm Password</b></label>
              <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="employee.confirmPassword"
                     name="confirmPassword" required #confirmPassword="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.errors }" />
              <div *ngIf="f.submitted && confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="confirmPassword.errors['required']">Confirm Password is required</div>
                <div *ngIf="confirmPassword.errors['validateEqual']">Passwords must match</div>
              </div>
            </div>

            <!-- Submit and Cancel Buttons -->
            <div class="form-group col-md-6">
              <button class="btn btn-success full-width-button" type="submit" id="reg" [disabled]="!f.form.valid">Submit</button>
            </div>

            <div class="col-md-6">
              <button type="button" (click)="goToEmployeeList()" class="btn btn-danger full-width-button">Cancel</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
