<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">

    <!-- Side Navigation -->
    <div class="az-content-left az-content-left-components">
      <div class="component-item">
        <label>Manage Tasks</label>
        <nav class="nav flex-column">
          <a routerLink="/create-task" routerLinkActive="active-link" class="nav-link" *ngIf="isAdmin">Create Task</a>
          <a routerLink="/tasks" routerLinkActive="active-link" class="nav-link">View All Tasks</a>
        </nav>
      </div><!-- component-item -->
    </div><!-- az-content-left -->
    <app-spinner *ngIf="isLoading"></app-spinner>

    <!-- Content -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Dashboard</span>
        <span>Tasks</span>
        <span>View Task</span>
      </div>
      <h4 class="az-content-label mg-b-5">Task Details</h4>
      <p class="mg-b-20">Here are the details of the selected task.</p>
      <app-alert [message]="alertMessage" [type]="alertType"></app-alert>

      <!-- Task Details -->
      <div class="task-details-container">
        <div class="task-details-card">
          <div class="task-details-header">
            <h4><i class="typcn typcn-calendar"></i> Task Details</h4>
          </div>
          <div class="task-details-content">
            <div class="task-detail-item">
              <i class="typcn typcn-tag"></i>
              <p><strong>Title:</strong> {{ task.title }}</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-document-text"></i>
              <p><strong>Description:</strong> {{ task.description }}</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-clock"></i>
              <p><strong>Duration:</strong> {{ task.durationInHours }} hours</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-calendar-outline"></i>
              <p><strong>Assigned Date:</strong> {{ task.assignedDate | date }}</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-calendar-clear"></i>
              <p><strong>Finished Date:</strong> {{ task.finishedDate ? (task.finishedDate | date) : 'N/A' }}</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-calendar-add"></i>
              <p><strong>Deadline Date:</strong> {{ task.deadlineDate ? (task.deadlineDate | date) : 'N/A' }}</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-tick"></i>
              <p><strong>Status:</strong> {{ task.status }}</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-folder"></i>
              <p><strong>Project:</strong> {{ task.project.title }}</p>
            </div>
            <div class="task-detail-item">
              <i class="typcn typcn-user"></i>
              <p><strong>Employee:</strong> {{ task.employee.firstname }} {{ task.employee.lastname }}</p>
            </div>
          </div>
        </div>
      </div>


    </div><!-- az-content-body -->

  </div><!-- container -->
</div><!-- az-content -->
