<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">

    <div class="az-content-left az-content-left-components">
      <div class="component-item" *ngIf="isAdmin">
        <label>Manage Employees</label>
        <nav class="nav flex-column">
          <a routerLink="/add-employee" routerLinkActive="active-link" class="nav-link">Add Employee</a>
          <a routerLink="/employees" routerLinkActive="active-link" class="nav-link">View All Employees</a>
        </nav>
      </div>
      <div class="component-item" *ngIf="!isAdmin">
        <label>My Profile</label>
        <nav class="nav flex-column">
          <a routerLink="/my-profile" routerLinkActive="active-link" class="nav-link">View Profile</a>
        </nav>
      </div>
    </div>
    <app-spinner *ngIf="isLoading"></app-spinner>

    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Dashboard</span>
        <span>Employees</span>
        <span>VIEW</span>
      </div>
      <h4 class="az-content-label mg-b-5">View Employee</h4>
      <p class="mg-b-20">To enable a hover state on table rows.</p>

      <!-- Employee Details Box -->
      <div class="box">
        <div class="row">
          <!-- Employee Details Table -->
          <div class="col-md-8">
            <table class="table table-striped table-bordered border-dark">
              <thead class="table-dark">
              <tr>
                <th>Attribute</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><b>Id</b></td>
                <td>{{employee.id}}</td>
              </tr>
              <tr>
                <td><b>First Name</b></td>
                <td>{{employee.firstname}}</td>
              </tr>
              <tr>
                <td><b>Last Name</b></td>
                <td>{{employee.lastname}}</td>
              </tr>
              <tr>
                <td><b>Email</b></td>
                <td>{{employee.email}}</td>
              </tr>
              <tr>
                <td><b>Salary</b></td>
                <td>{{employee.salary}}</td>
              </tr>
              <tr>
                <td><b>Department</b></td>
                <td>{{employee.department}}</td>
              </tr>
              <tr>
                <td><b>Designation</b></td>
                <td>{{employee.designation}}</td>
              </tr>
              <tr>
                <td><b>Joining Date</b></td>
                <td>{{employee.joiningDate}}</td>
              </tr>
              </tbody>
            </table>

            <!-- Action Buttons -->
            <div class="mt-4" *ngIf="isAdmin">
              <a routerLink="/update-employee/{{employee.id}}" class="btn btn-secondary me-2">Update Details</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
