<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">
    <div class="az-content-left az-content-left-components">
      <div class="component-item">
        <label>Manage Projects</label>
        <nav class="nav flex-column">
          <a routerLink="/add-project" routerLinkActive="active-link" class="nav-link">Add Project</a>
          <a routerLink="/projects" routerLinkActive="active-link" class="nav-link">View All Projects</a>
        </nav>
      </div><!-- component-item -->
    </div><!-- az-content-left -->

    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Dashboard</span>
        <span>Projects</span>
        <span>List</span>
      </div>
      <h4 class="az-content-label mg-b-5">Project List</h4>
      <p class="mg-b-20">To enable a hover state on table rows.</p>
      <app-alert [message]="alertMessage" [type]="alertType"></app-alert>
      <app-spinner *ngIf="isLoading"></app-spinner>
      <!-- Search Form -->
      <form (ngSubmit)="searchProjects()" class="row g-3 mb-4">
        <div class="form-group col-md-6">
          <input [(ngModel)]="searchTitle" type="text" class="form-control" id="title" name="title" placeholder="Search by ID or Title" />
        </div>
        <div class="form-group col-md-6">
          <button class="btn btn-secondary full-width-button" type="submit">Search</button>
        </div>
      </form>

      <!-- Project Table -->
      <div class="table-container w-100">
        <div class="table-responsive">
          <table class="table table-hover mg-b-0">
            <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="projects.length === 0">
              <td colspan="4" class="text-center">No projects found</td>
            </tr>
            <tr *ngFor="let project of projects">
              <th scope="row">{{ project.id }}</th>
              <td>{{ project.title }}</td>
              <td>{{ project.description }}</td>
              <td>
                <!-- Action Buttons -->
                <div class="action-buttons">
                  <button (click)="updateProject(project.id)" class="btn btn-icon">
                    <span class="typcn typcn-edit"></span>
                  </button>
                  <button (click)="deleteProject(project.id)" class="btn btn-icon text-danger">
                    <span class="typcn typcn-trash"></span>
                  </button>
                  <button (click)="viewProjectDetails(project.id)" class="btn btn-icon text-success">
                    <span class="typcn typcn-eye"></span>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- table-container -->

      <div class="ht-40"></div>
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->
