<!-- navbar.component.html -->

<div class="az-header">
  <div class="container">
    <div class="az-header-left">
      <a routerLink="/" class="az-logo"><span></span> e.m.p</a>
      <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
    </div><!-- az-header-left -->
    <div class="az-header-menu">
      <div class="az-header-menu-header">
        <a routerLink="/" class="az-logo"><span></span> emp</a>
        <a href="" class="close">&times;</a>
      </div><!-- az-header-menu-header -->
      <ul class="nav">
        <!-- Always visible -->
        <li class="nav-item" *ngIf="!isEmployee()" routerLinkActive="active">
          <a routerLink="/employees" class="nav-link"><i class="typcn typcn-user-outline"></i> Employees</a>
        </li>

        <!-- Conditionally visible based on role -->
        <li class="nav-item" *ngIf="!isEmployee()" routerLinkActive="active">
          <a routerLink="/projects" class="nav-link"><i class="typcn typcn-folder"></i> Projects</a>
        </li>

        <!-- Common links for all users -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/view-notifications" class="nav-link"><i class="typcn typcn-bell"></i> Notifications</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/tasks" class="nav-link"><i class="typcn typcn-tick"></i> Tasks</a>
        </li>

        <!-- Profile link for employees -->
        <li class="nav-item" *ngIf="isEmployee()" routerLinkActive="active">
          <a *ngIf="employeeId !== null" [routerLink]="['/details-employee', employeeId]" class="nav-link">
            <i class="typcn typcn-user-outline"></i> Profile
          </a>
          <ng-container *ngIf="employeeId === null">
            <a class="nav-link" href="javascript:void(0);" title="Loading Profile">
              <i class="typcn typcn-user-outline"></i> Profile
            </a>
          </ng-container>
        </li>

        <!-- Links for non-employees only -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/leaves" class="nav-link"><i class="typcn typcn-calendar-outline"></i> Leaves</a>
        </li>

        <li class="nav-item" *ngIf="!isEmployee()" routerLinkActive="active">
          <a routerLink="/reports" class="nav-link"><i class="typcn typcn-document-text"></i> Reports</a>
        </li>
      </ul>



    </div><!-- az-header-menu -->

    <div class="az-header-right">
      <app-notification></app-notification>
      <app-profile></app-profile>
    </div>

  </div><!-- container -->
</div><!-- az-header -->
